*.a
*.dat
*.segy
*.sgy 
*.Sgy
*.Segy
*.vds
*.so
*.dylib
*.exe
*.out
*.o
.DS_Store
*.whl
wheels/
*.egg-info
version.py
backup/
test/
_build
.build
_doxygenxml
*.pdf
docs/cigsegy
segyfile
__pycache__
todo.txt
compile_commands.json

test.*
thridpart/
.cache
build/
Dist/
dist_*
das/
*.ipynb

*.png
*.pdf
*.svg
*.jpg
*.jpeg
*.webp